form(action='/add_preference',method='post')
    div#trackname.formfield(data-role='fieldcontain')
        fieldset(data-role='controlgroup')
            label(for='trackname') Track Name
                br
                input(id='track', type='text', value='', placeholder='', name='track')
    div#id.formfield(data-role='fieldcontain')
        fieldset(data-role='controlgroup')
            label(for='id') UserID
                 br
                 input(id='trackuserid', type='text', value='1', placeholder='', name='trackuserid')            
    div(data-role='fieldcontain')
        input(type='button',id='submittrack', value='Submit', data-transition='fade', data-theme='c')
