extends layout

block content
    h3 Order History
    table.table.table-bordered
        thead
            tr
                th Item
                th Quantity
                th Vendor
                th Recipient
        tbody
            each order in orders
                tr
                    td= order.iname
                    td= order.quant
                    td= order.vname
                    td= order.name
