extends layout

block content
    div#testcontrol
        h3#title Run tests
        a#home(href="/") Home
        a#startping(href="#") Latency test
        a#upload(href="#") Throughput test
    br
        

    div#test_results
        h3 Test Results
        br
        div#RTT
            p RTT: #{RTT} ms
        div#upload_time
            p Upload Time: #{Throughput} mbps